@use 'variables' as *;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

.slider {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: 0 20px;
    margin-top: 2rem;

    &__line {
        display: flex;
        align-items: center;
        transition: all 1s;
    }

    &__img {
        max-width: 800px;
        max-height: 450px;
    }

    &__arrow {
        max-height: 50px;
    }

    &__btn-next {
        position: absolute;
        right: 1%;
        top: 50%;
        background-color: transparent;
        border: none;
    }

    &__btn-prev {
        position: absolute;
        left: 1%;
        top: 50%;
        background-color: transparent;
        border: none;
    }

    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 10px;
        border: 1px solid black;

        &:hover {
            background-color: #ffff;
        }
    }

    &__active-dot {
        background-color: #ffff;
    }

    &__wrapper {
        display: flex;
        max-width: 10rem;
        column-gap: 10px;
        position: absolute;
        bottom: 3%;
        left: 45%;
    }
}
